/*
Theme Name: Geek Profile
Theme URI: http://eddmash.com/geekProfileTheme
Author: Eddilbert Macharia
Author URI: http://eddmash.com/
Description: A theme for geeks website
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, white, light, two-columns, right-sidebar, responsive-layout, custom-header, custom-menu, editor-style, featured-images, sticky-post, translation-ready
Text Domain: geek_profile

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import "assets/css/bootstrap.min.css";
@import "assets/css/site.css";



.sticky,
.gallery-caption,
.bypostauthor {

}

img {
    padding: 5px;
}
img.aligncenter {
    clear: both;
}

figure.wp-caption.alignnone {
    width: 100% !important;
}

img.alignnone,
.wp-caption.alignnone img {
    width: 100%;
}

.wp-caption-text {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

img.alignright,
.wp-caption.alignright {
    float: right;
}

img.alignleft,
.wp-caption.alignleft{
    float: left;
}
.attachment-post-thumbnail.wp-post-image {
    float: left;
}