body {
    background-color: #f6f6f6;
}
header {
    background-color: #ffffff;

}
#content {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 12px;
}

#content,
#navigation {
    margin-top: 10px;
}

#navigation>#nav-menu>.menu-item-has-children>.sub-menu {
    display: none;
    list-style: none;
    background-color: #0e3950;
}

.profile-content .panel-body{
    display: none;
}

#navigation{
    margin-top: 10px;
    text-align: center;
}

#logo{
    margin-bottom: 10px;
}
#logo>img{
    max-height: 200px;
}

footer {
    margin-top: 10px;
}
#skills {
    list-style-type: square;

}
#skills > li {
    float: left;
    margin-left: 20px;
}

.blog-summary {
    /*border: thin solid #0000CD;*/
    padding: 4px;
    margin-top: 5px;
}

.tags-categories {
    border-top: thin solid #CAC9C9;
    border-bottom: thin solid #CAC9C9;
    margin:5px auto;
    padding-top: 10px;
}
.commentlist,
.commentlist .children {
    list-style: none;
}
#social-media {}

